/* Dashboard umumiy stil */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f5;
}

.dash-header {
    background: linear-gradient(90deg, #007bff, #00b4ff);
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.user-mini-box {
    background: rgba(255,255,255,0.2);
    padding: 0px 20px;
    border-radius: 8px;
}

.dashboard-main {
    display: flex;
    padding: 20px;
    gap: 30px;
}

/* Profil karta */
.profile-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-top {
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
    margin-bottom: 10px;
}

#profile-title {
    color: #007bff;
    margin-bottom: 20px;
}

.info-box {
    background: #f7f9fa;
    padding: 4px 15px;
    border-left: 4px solid #007bff;
    margin-bottom: 12px;
    border-radius: 6px;
}

.info-box p {
    margin: 0;
    font-weight: bold;
    font-size: 0.8em;
    color: #555;
}

.info-box span {
    font-size: 0.8em;
    color: #222;
}

#logout-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #ff4d4d;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#logout-btn:hover {
    background: #d93636;
}

/* Sidebar */
.sidebar {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin-top: 0;
    color: #007bff;
}

.sidebar ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* .sidebar li {
    margin-bottom: 15px;
} 
*/

.sidebar a {
    text-decoration: none;
    font-size: 1.1em;
    color: #333;
    transition: 0.3s;
}

.sidebar a:hover {
    cursor: pointer;
    color: #007bff;
    margin-left: 5px;
}
