@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f0f2f7;
}

/* DARK MODE */
body.dark{
    background: linear-gradient(135deg, #1c1f26, #2d3544);
    color: #fff;
}

/* NAVBAR */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1;
}
body.dark .navbar{
    background: rgba(255,255,255,0.04);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo{
    font-size: 22px;
    font-weight: 600;
}


.nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
}
body.dark .nav-links a{
    color: #ddd;
}

.nav-links a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #0a84ff;
    transition: 0.3s;
}



.btn-login{
    background: #0a84ff;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(10,132,255,0.3);
    transition: 0.3s;
    text-decoration: none;
}

.btn-login:hover{
    background: #006edc;
}

/* HERO SECTION */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 60px 80px;
}

.card{
    background: #ffffff;
    border-radius: 22px;
    padding: 40px;
    box-shadow: 
        8px 8px 20px #cfd3da,
        -8px -8px 20px #ffffff;
    transition: .3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

/* TEXT */
.card h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;
    color: #333;
}

.card p {
    color: #333;
}

/* BUTTONS */
.buttons{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.btn-primary{
    /* cursor: pointer; */
    background: #0a84ff;
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(10,132,255,0.3);
    transition: 0.3s;
}

.btn-primary:hover{
    background: #006edc;
}

.btn-outline{
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #0a84ff;
    color: #0a84ff;
    transition: 0.3s;
}

.btn-outline:hover{
    background: #0a84ff;
    color: white;
}

.right {
    height: 400px;
    text-align: center;
}

.right img {
    height: 100%;
}

/* RESPONSIVE */
@media (max-width: 900px){
    .hero{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px){
    nav.navbar {
        padding: 10px 20px;
    }
    nav .logo {
        font-size: 20px;
    }
    nav ul.nav-links li a{
        font-size: 14px;
    }
    nav ul.nav-links {
        gap: 20px;
    }
    nav a.btn-login {
        padding: 10px 20px;
        font-size: 14px;
        display: none;
    }
    section.hero {
        padding: 20px;
    }
    section.hero div.left {
        padding: 30px;
    }
    section.hero div.right {
        display: none;
    }
    section.hero div.left a {
        padding: 10px 20px;
        font-size: 14px;
    }
    section.hero div.left p{
        font-size: 14px;
    }
    section.hero div.left h1 {
        font-size: 28px;
    }
}




/* --------------------------------------- */

/* Dropdown konteyneri */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Ochildigan ro'yxatning uslubi (dastlab yashirin bo'ladi) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383E42;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

/* Ro'yxat ichidagi linklar */
.dropdown-content li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

/* Sichqoncha ustiga kelganda rang o'zgarishi */
.dropdown-content li a:hover {
    background-color: #444;
}

/* Sichqoncha "Bilim yo'li" ustiga kelganda ro'yxatni ko'rsatish */
.dropdown:hover .dropdown-content {
    display: block;
}

.kirish-text {
    width: 650px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kirish-button {
    display: flex;
    flex-direction:row;
    margin-top: 45px;
    gap: 25px;
}

.kirish-button button {
    background-color:rgba(76, 187, 238, 0.075);
    color:#2d3544;
    border: none;
}

.kirish-button button:hover {
    transition-duration: 0.4s;
    box-shadow: 1px 1px 4px 4px #2d354452;

}

.text-button {
    border-radius: 1.5rex;
}

.text-button:hover {
    transition-duration: 0.4s;
    box-shadow: 1px 1px 4px 4px #2d354452;

}

.kirish-img {
    display: flex; 
    justify-content: space-between;
    margin-left: 500px;
}

.kirish-img img {
    height: 600px;
    margin-top: 0;
}

.mavzu {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #b48395;
    font-weight: 700;
    background-color:#444;
}